<div class="card mb-3">
  <h2 class="card-header h4">
    Couse #<%= couse.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <dd><%= couse.name %></dd>

      <dt>Address</dt>
      <dd><%= couse.address %></dd>

      <dt>Phone number</dt>
      <dd><%= couse.phone_number %></dd>

      <dt>Rating</dt>
      <dd><%= couse.rating %></dd>

      <dt>Handicap</dt>
      <dd><%= couse.handicap %></dd>

      <dt>Longitude</dt>
      <dd><%= couse.longitude %></dd>

      <dt>Latitude</dt>
      <dd><%= couse.latitude %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back couse, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_couse_url(couse), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to couse, method: :delete, data: { confirm: "Do you really want to delete this couse?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(couse.updated_at) %> ago
  </div>
</div>
