<%= form_with(model: @hole, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :yardage %>

    <%= f.text_field :yardage, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :par %>

    <%= f.text_field :par, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :handicap %>

    <%= f.text_field :handicap, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :polygon_map %>

    <%= f.file_field :polygon_map, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :center_of_green_longitude %>

    <%= f.text_field :center_of_green_longitude, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :center_of_green_latitude %>

    <%= f.text_field :center_of_green_latitude, class: "form-control" %>
  </div>

  <%= f.hidden_field :course_id, value: @couse.id %>

  <%= f.submit "Create hole", class: "btn btn-block btn-outline-secondary" %>
<% end %>
