<div class="card mb-3">
  <h2 class="card-header h4">
    Hole #<%= hole.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Yardage</dt>
      <dd><%= hole.yardage %></dd>

      <dt>Par</dt>
      <dd><%= hole.par %></dd>

      <dt>Handicap</dt>
      <dd><%= hole.handicap %></dd>

      <dt>Polygon map</dt>
      <dd>
        <%= cl_image_tag @hole.polygon_map, class: "img-fluid" %>
      </dd>

      <dt>Center of green longitude</dt>
      <dd><%= hole.center_of_green_longitude %></dd>

      <dt>Center of green latitude</dt>
      <dd><%= hole.center_of_green_latitude %></dd>

      <dt>Course</dt>
      <dd>
        <% if @hole.course.present? %>
          <%= link_to hole.course, hole.course %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back hole, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_hole_url(hole), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to hole, method: :delete, data: { confirm: "Do you really want to delete this hole?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(hole.updated_at) %> ago
  </div>
</div>
