<!-- Form hole_like start -->
<%= form_with(model: @hole_like, local: true) do |f| %>
<!-- Form hole_like end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for hole_id start -->
  <!-- Input for hole_id start -->
  <%= f.hidden_field :hole_id, value: @hole.id %>
  <!-- Input for hole_id end -->
  <!-- Label and input for hole_id end -->

  <%= f.submit "Create hole like", class: "btn btn-block btn-outline-secondary" %>
<% end %>
