<div class="card mb-3">
  <h2 class="card-header h4">
    Course Like #<%= course_like.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <dd>
        <% if @course_like.user.present? %>
          <%= link_to course_like.user, course_like.user %>
        <% end %>
      </dd>

      <dt>Course</dt>
      <dd>
        <% if @course_like.course.present? %>
          <%= link_to course_like.course, course_like.course %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back course_like, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_course_like_url(course_like), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to course_like, method: :delete, data: { confirm: "Do you really want to delete this course_like?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(course_like.updated_at) %> ago
  </div>
</div>
