<!-- Form course_like start -->
<%= form_with(model: @course_like, local: true) do |f| %>
<!-- Form course_like end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <%= f.hidden_field :user_id, value: @user.id %>
  <!-- Input for user_id end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for course_id start -->
  <div class="form-group">
    <%= f.label :course_id %>

    <!-- Input for course_id start -->
    <%= f.collection_select :course_id, Couse.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for course_id end -->
  </div>
  <!-- Label and input for course_id end -->

  <%= f.submit "Create course like", class: "btn btn-block btn-outline-secondary" %>
<% end %>
