<%= form_with(model: @hole_like, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :hole_id %>

    <%= f.collection_select :hole_id, Hole.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create hole like", class: "btn btn-block btn-outline-secondary" %>
<% end %>
