<!-- Form hole_like start -->
<%= form_with(model: @hole_like, local: true) do |f| %>
<!-- Form hole_like end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <%= f.hidden_field :user_id, value: @user.id %>
  <!-- Input for user_id end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for hole_id start -->
  <div class="form-group">
    <%= f.label :hole_id %>

    <!-- Input for hole_id start -->
    <%= f.text_field :hole_id, class: "form-control" %>
    <!-- Input for hole_id end -->
  </div>
  <!-- Label and input for hole_id end -->

  <%= f.submit "Create hole like", class: "btn btn-block btn-outline-secondary" %>
<% end %>
