<div class="card mb-3">
  <h2 class="card-header h4">
    Hole Like #<%= hole_like.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <dd>
        <% if @hole_like.user.present? %>
          <%= link_to hole_like.user, hole_like.user %>
        <% end %>
      </dd>

      <dt>Hole</dt>
      <dd>
        <% if @hole_like.hole.present? %>
          <%= link_to hole_like.hole, hole_like.hole %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back hole_like, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_hole_like_url(hole_like), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to hole_like, method: :delete, data: { confirm: "Do you really want to delete this hole_like?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(hole_like.updated_at) %> ago
  </div>
</div>
